Dockerfile
.dockerignore
.git
.gitignore
.prettierrc
.eslintrc.cjs
.editorconfig
.svelte-kit
.vscode
node_modules
app/build
app/data
**/dist
**/dev-dist
**/README.md
**/.env

# Vite
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
